@import "includes/reset";
@import "includes/login";
@import "includes/sidebar";
@import "includes/dashboard";

$primary-font: "Inter", sans-serif;

body {
	font-family: $primary-font;
	font-size: 18px;
}

h2 {
	font-size: 32px;
}

input {
	min-width: 500px;
	padding: 10px 5px;
	border: none;
	border-bottom: 1px solid var(--primary-color);
	box-sizing: border-box;
}

.btn {
	display: flex;
	gap: 10px;
	border: none;
	padding: 8px 15px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;

	&.primary-btn {
		background-color: var(--primary-color);
		color: #fff;

		svg {
			width: 15px;
			fill: #fff;
		}
	}
}

.container {
	max-width: 1400px;
	margin: auto;
	padding: 0 15px;
}

.modal {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;

	> div {
		position: relative;
		background: white;
		padding: 30px;
		border-radius: 10px;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin-bottom: -15px;
	}

	h2 {
		margin: 0 0 15px 0;
		text-align: center;
	}

	.btn {
		width: 100%;
		justify-content: center;
	}

	.close-btn {
		border: none;
		background: none;
		padding: 0;

		svg {
			position: absolute;
			top: 15px;
			right: 15px;
			fill: var(--primary-color);
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	}
}
