@import 'includes/reset';
@import 'includes/login';
@import 'includes/sidebar';
@import 'includes/dashboard';

$primary-font: "Inter", sans-serif;

body {
    font-family: $primary-font;
}

h2 {
    font-size: 32px;
}

input {
    min-width: 500px;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
}

.btn {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
}