.dashboard {
	display: flex;
}

.dashboard-content {
	width: 100%;
	padding: 0 50px;
	background-color: #ededed;

	.top-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.course-list {
		background-color: #fff;
		display: flex;
		flex-direction: column;

		.single-course {
			display: flex;
			justify-content: space-between;
			padding: 15px;
			border-bottom: solid 1px #dfdfe0;

			.course-content {
				width: 100%;

				input {
					width: 100%;
				}

				span {
					display: block;
					padding: 10px 5px;
				}
			}

			.course-actions {
				display: flex;
				align-items: center;
				gap: 15px;

				button {
					border: none;
					background: none;
					padding: 0;

					svg {
						fill: var(--primary-color);
						width: 20px;
						height: 20px;
						cursor: pointer;
					}
					&:disabled svg {
						opacity: 0.5;
					}
				}

				.order-control {
					display: flex;
					flex-direction: column;
					margin-top: -5px;

					> form {
						height: 16px;
					}
				}
			}

			// .input {
			// 	border: none;
			// }
		}
	}
}
