.dashboard-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    background-color: var(--primary-color);
    height: calc(100vh - 30px);
    padding: 15px;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        display: block;
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: 5px;

        svg {
            fill: #fff;
            width: 20px;
        }
    }

    .side-actions {
        gap: 10px;
    }

    .menu-icon a {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}